.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($color: $purple, $amount: 10%);
    color: white;
    font-weight: bold;
    font-size: $l_size;
    width: 100%;
    margin-bottom: $m_size;
    padding: 2.4rem;
}

.big-button:disabled {
    opacity: .5;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($color: $purple, $amount: 10%);
    color: white;
    font-weight: 500;
    padding: $s_size;
}

.button--link {
    background: none;
    border: none;    
    color: $off_white;
    padding: 0;
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}