.header {
    background: $off_black;
    margin-bottom: $m_size;
    padding: $m_size 0;
    color: white;
}

//BEM convention
.header__title {
    font-size: $l_size;
    margin: 0;
}

.header__subtitle {
    color: $off_white;
    font-size: $m_size;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}